In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
print(np.__version__)

1.16.5

In [3]:
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
dataset["Purchased"].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [9]:
dataset=dataset.drop("User ID",axis=1)

In [7]:
dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [10]:
independent=dataset[["Gender_Male", "Age", "EstimatedSalary"]]
independent

     Gender_Male  Age  EstimatedSalary
0              1   19            19000
1              1   35            20000
2              0   26            43000
3              0   27            57000
4              1   19            76000
..           ...  ...              ...
395            0   46            41000
396            1   51            23000
397            0   50            20000
398            1   36            33000
399            0   49            36000

[400 rows x 3 columns]

In [11]:
dependent=dataset[["Purchased"]]
dependent

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [26]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [27]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
param_grid= {'n_estimators':[10,50,100], 
             'criterion': ['entropy','gini'], 
             'max_features': ['auto','sqrt','log2'],
             'random_state':[0]}
grid=GridSearchCV(RandomForestClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
grid.fit(X_train,Y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['entropy', 'gini'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 50, 100], 'random_state': [0]},
             scoring='f1_weighted', verbose=3)

In [28]:
re=grid.cv_results_
print("The re for the best Parameter{}:".format(grid.best_params_),re)

The re for the best Parameter{'criterion': 'gini', 'max_features': 'auto', 'n_estimators': 50, 'random_state': 0}: {'mean_fit_time': array([0.0385767 , 0.13811445, 0.19667811, 0.03557734, 0.10753055,
       0.19168067, 0.0299819 , 0.09873791, 0.18828502, 0.02458448,
       0.09454107, 0.17449141, 0.03237934, 0.09114385, 0.17169313,
       0.03537874, 0.09514065, 0.14690824]), 'std_fit_time': array([0.01472352, 0.0233736 , 0.02011107, 0.01411328, 0.01303846,
       0.01704747, 0.00763856, 0.00537855, 0.00886465, 0.00079963,
       0.00567433, 0.0037181 , 0.01077474, 0.00376089, 0.04306569,
       0.01698995, 0.0195978 , 0.0238426 ]), 'mean_score_time': array([0.00539579, 0.0141912 , 0.02318521, 0.00499773, 0.01239157,
       0.02478471, 0.00519724, 0.01279297, 0.02398314, 0.00479741,
       0.01199265, 0.02098732, 0.00479741, 0.01239243, 0.01958818,
       0.00459628, 0.01019392, 0.01599016]), 'std_score_time': array([0.00079827, 0.00299118, 0.00342727, 0.00109537, 0.00101965,
       0.00673131, 0.00039985, 0.00116571, 0.00455828, 0.00040004,
       0.00063226, 0.00063166, 0.00039992, 0.00080066, 0.00257511,
       0.00048924, 0.00231379, 0.0036853 ]), 'param_criterion': masked_array(data=['entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False],
       fill_value='?',
            dtype=object), 'param_max_features': masked_array(data=['auto', 'auto', 'auto', 'sqrt', 'sqrt', 'sqrt', 'log2',
                   'log2', 'log2', 'auto', 'auto', 'auto', 'sqrt', 'sqrt',
                   'sqrt', 'log2', 'log2', 'log2'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[10, 50, 100, 10, 50, 100, 10, 50, 100, 10, 50, 100, 10,
                   50, 100, 10, 50, 100],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False],
       fill_value='?',
            dtype=object), 'param_random_state': masked_array(data=[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False],
       fill_value='?',
            dtype=object), 'params': [{'criterion': 'entropy', 'max_features': 'auto', 'n_estimators': 10, 'random_state': 0}, {'criterion': 'entropy', 'max_features': 'auto', 'n_estimators': 50, 'random_state': 0}, {'criterion': 'entropy', 'max_features': 'auto', 'n_estimators': 100, 'random_state': 0}, {'criterion': 'entropy', 'max_features': 'sqrt', 'n_estimators': 10, 'random_state': 0}, {'criterion': 'entropy', 'max_features': 'sqrt', 'n_estimators': 50, 'random_state': 0}, {'criterion': 'entropy', 'max_features': 'sqrt', 'n_estimators': 100, 'random_state': 0}, {'criterion': 'entropy', 'max_features': 'log2', 'n_estimators': 10, 'random_state': 0}, {'criterion': 'entropy', 'max_features': 'log2', 'n_estimators': 50, 'random_state': 0}, {'criterion': 'entropy', 'max_features': 'log2', 'n_estimators': 100, 'random_state': 0}, {'criterion': 'gini', 'max_features': 'auto', 'n_estimators': 10, 'random_state': 0}, {'criterion': 'gini', 'max_features': 'auto', 'n_estimators': 50, 'random_state': 0}, {'criterion': 'gini', 'max_features': 'auto', 'n_estimators': 100, 'random_state': 0}, {'criterion': 'gini', 'max_features': 'sqrt', 'n_estimators': 10, 'random_state': 0}, {'criterion': 'gini', 'max_features': 'sqrt', 'n_estimators': 50, 'random_state': 0}, {'criterion': 'gini', 'max_features': 'sqrt', 'n_estimators': 100, 'random_state': 0}, {'criterion': 'gini', 'max_features': 'log2', 'n_estimators': 10, 'random_state': 0}, {'criterion': 'gini', 'max_features': 'log2', 'n_estimators': 50, 'random_state': 0}, {'criterion': 'gini', 'max_features': 'log2', 'n_estimators': 100, 'random_state': 0}], 'split0_test_score': array([0.8742536, 0.8742536, 0.8742536, 0.8742536, 0.8742536, 0.8742536,
       0.8742536, 0.8742536, 0.8742536, 0.8742536, 0.8742536, 0.8742536,
       0.8742536, 0.8742536, 0.8742536, 0.8742536, 0.8742536, 0.8742536]), 'split1_test_score': array([0.84011385, 0.85714286, 0.85714286, 0.84011385, 0.85714286,
       0.85714286, 0.84011385, 0.85714286, 0.85714286, 0.84011385,
       0.8585034 , 0.85714286, 0.84011385, 0.8585034 , 0.85714286,
       0.84011385, 0.8585034 , 0.85714286]), 'split2_test_score': array([0.82312925, 0.85943468, 0.85943468, 0.82312925, 0.85943468,
       0.85943468, 0.82312925, 0.85943468, 0.85943468, 0.82429335,
       0.85943468, 0.82429335, 0.82429335, 0.85943468, 0.82429335,
       0.82429335, 0.85943468, 0.82429335]), 'split3_test_score': array([0.91110549, 0.91110549, 0.91110549, 0.91110549, 0.91110549,
       0.91110549, 0.91110549, 0.91110549, 0.91110549, 0.91110549,
       0.91110549, 0.91110549, 0.91110549, 0.91110549, 0.91110549,
       0.91110549, 0.91110549, 0.91110549]), 'split4_test_score': array([0.92674253, 0.94546891, 0.90765766, 0.92674253, 0.94546891,
       0.90765766, 0.92674253, 0.94546891, 0.90765766, 0.94546891,
       0.96388889, 0.94546891, 0.94546891, 0.96388889, 0.94546891,
       0.94546891, 0.96388889, 0.94546891]), 'mean_test_score': array([0.87506895, 0.88948111, 0.88191886, 0.87506895, 0.88948111,
       0.88191886, 0.87506895, 0.88948111, 0.88191886, 0.87904704,
       0.89343721, 0.88245284, 0.87904704, 0.89343721, 0.88245284,
       0.87904704, 0.89343721, 0.88245284]), 'std_test_score': array([0.03972165, 0.03400787, 0.02320556, 0.03972165, 0.03400787,
       0.02320556, 0.03972165, 0.03400787, 0.02320556, 0.04466844,
       0.04005037, 0.04214819, 0.04466844, 0.04005037, 0.04214819,
       0.04466844, 0.04005037, 0.04214819]), 'rank_test_score': array([16,  4, 10, 16,  4, 10, 16,  4, 10, 13,  1,  7, 13,  1,  7, 13,  1,
        7])}

In [29]:
table=pd.DataFrame.from_dict(re)

In [30]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,param_random_state,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.038577,0.014724,0.005396,0.000798,entropy,auto,10,0,"{'criterion': 'entropy', 'max_features': 'auto...",0.874254,0.840114,0.823129,0.911105,0.926743,0.875069,0.039722,16
1,0.138114,0.023374,0.014191,0.002991,entropy,auto,50,0,"{'criterion': 'entropy', 'max_features': 'auto...",0.874254,0.857143,0.859435,0.911105,0.945469,0.889481,0.034008,4
2,0.196678,0.020111,0.023185,0.003427,entropy,auto,100,0,"{'criterion': 'entropy', 'max_features': 'auto...",0.874254,0.857143,0.859435,0.911105,0.907658,0.881919,0.023206,10
3,0.035577,0.014113,0.004998,0.001095,entropy,sqrt,10,0,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.874254,0.840114,0.823129,0.911105,0.926743,0.875069,0.039722,16
4,0.107531,0.013038,0.012392,0.001020,entropy,sqrt,50,0,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.874254,0.857143,0.859435,0.911105,0.945469,0.889481,0.034008,4
5,0.191681,0.017047,0.024785,0.006731,entropy,sqrt,100,0,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.874254,0.857143,0.859435,0.911105,0.907658,0.881919,0.023206,10
6,0.029982,0.007639,0.005197,0.000400,entropy,log2,10,0,"{'criterion': 'entropy', 'max_features': 'log2...",0.874254,0.840114,0.823129,0.911105,0.926743,0.875069,0.039722,16
7,0.098738,0.005379,0.012793,0.001166,entropy,log2,50,0,"{'criterion': 'entropy', 'max_features': 'log2...",0.874254,0.857143,0.859435,0.911105,0.945469,0.889481,0.034008,4
8,0.188285,0.008865,0.023983,0.004558,entropy,log2,100,0,"{'criterion': 'entropy', 'max_features': 'log2...",0.874254,0.857143,0.859435,0.911105,0.907658,0.881919,0.023206,10
9,0.024584,0.000800,0.004797,0.000400,gini,auto,10,0,"{'criterion': 'gini', 'max_features': 'auto', ...",0.874254,0.840114,0.824293,0.911105,0.945469,0.879047,0.044668,13
10,0.094541,0.005674,0.011993,0.000632,gini,auto,50,0,"{'criterion': 'gini', 'max_features': 'auto', ...",0.874254,0.858503,0.859435,0.911105,0.963889,0.893437,0.040050,1
11,0.174491,0.003718,0.020987,0.000632,gini,auto,100,0,"{'criterion': 'gini', 'max_features': 'auto', ...",0.874254,0.857143,0.824293,0.911105,0.945469,0.882453,0.042148,7
12,0.032379,0.010775,0.004797,0.000400,gini,sqrt,10,0,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.874254,0.840114,0.824293,0.911105,0.945469,0.879047,0.044668,13
13,0.091144,0.003761,0.012392,0.000801,gini,sqrt,50,0,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.874254,0.858503,0.859435,0.911105,0.963889,0.893437,0.040050,1
14,0.171693,0.043066,0.019588,0.002575,gini,sqrt,100,0,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.874254,0.857143,0.824293,0.911105,0.945469,0.882453,0.042148,7
15,0.035379,0.016990,0.004596,0.000489,gini,log2,10,0,"{'criterion': 'gini', 'max_features': 'log2', ...",0.874254,0.840114,0.824293,0.911105,0.945469,0.879047,0.044668,13
16,0.095141,0.019598,0.010194,0.002314,gini,log2,50,0,"{'criterion': 'gini', 'max_features': 'log2', ...",0.874254,0.858503,0.859435,0.911105,0.963889,0.893437,0.040050,1
17,0.146908,0.023843,0.015990,0.003685,gini,log2,100,0,"{'criterion': 'gini', 'max_features': 'log2', ...",0.874254,0.857143,0.824293,0.911105,0.945469,0.882453,0.042148,7

In [31]:
grid_predictions=grid.predict(X_test)


from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,grid_predictions)

from sklearn.metrics import classification_report
clf_report=classification_report(Y_test,grid_predictions)

In [32]:
from sklearn.metrics import f1_score
f1_micro=f1_score(Y_test,grid_predictions,average='weighted')
print("The f1_micro value for best parameter{}:".format(grid.best_params_),f1_micro)

The f1_micro value for best parameter{'criterion': 'gini', 'max_features': 'auto', 'n_estimators': 50, 'random_state': 0}: 0.9166666666666666

In [33]:
from sklearn.metrics import roc_auc_score
roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])

0.9689719049089225

In [34]:
print(cm)

[[74  5]
 [ 5 36]]

In [35]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.94      0.94      0.94        79
           1       0.88      0.88      0.88        41

    accuracy                           0.92       120
   macro avg       0.91      0.91      0.91       120
weighted avg       0.92      0.92      0.92       120